@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/***********************
Reset
************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***********************
General Styles
************************/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.15rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/***********************
Utilities
************************/
$primary: #007bff;
$dark: #343a40;
$white: #fff;
$gray: #6c757d;

.text-center {
  text-align: center;
}

.bg-dark {
  background: $dark;
  color: $white;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

// margin
.m-1 {
  margin: 1.15rem;
}

//padding
.p-1 {
  padding: 1.15rem;
}

.py-1 {
  padding: 1.15rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.px-1 {
  padding: 0 1.15rem;
}

.display-1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: lighter;
}

.btn {
  border: 1px solid $white;
  background: $primary;
  color: $white;
  padding: 1rem;
  border-radius: 5px;
}

.btn:hover {
  background: #f8f9fa;
  color: $dark;
}

.btn-dark {
  background: $dark;
  color: $gray;
  border-color: $gray;

  &:hover {
    background: $gray;
    color: $white;
    border: none;
  }
}

.btn-wide {
  width: 100%;
}

/***********************
Navbar
************************/
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 5px $primary solid;

  ul {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      a {
        color: $white;
        padding: 0.75rem;
        margin: 0 0.25rem;
      }
    }
  }
}

/***********************
Social
************************/
#social {
  display: flex;
  flex-direction: row;
  background: url('../img/home.jpg') no-repeat center center/cover;
  padding: 5rem;
  min-height: 100vh;

  overflow: hidden;

  .social {
    margin: 1.15rem;
    height: 100%;
    flex: 2;
    color: #fff;

    h1 {
      margin-bottom: 1.15rem;
      color: #fff;
    }

    ul {
      li {
        display: flex;
        padding: 2rem;

        i {
          padding: 0.5rem;
          background: #fff;
          color: $primary;
          margin-right: 2rem;
          border-radius: 5px;
          align-self: flex-start;
        }

        p {
          font-size: 1.3rem;
          align-self: flex-end;
        }
      }
    }
  }

  .signup {
    flex: 1;
    margin: 1.15rem;
    background: $primary;
    color: $white;

    form {
      margin: auto;
      padding: 2rem 1rem;

      h3,
      p {
        margin-bottom: 1rem;
        text-align: center;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: normal;
      }

      .form-group {
        padding: 1rem 0;

        input {
          display: block;
          background: #f8f9fa;
          padding: 1rem;
          border-radius: 5px;
          width: 100%;
          border: 0;
          font-size: 1.15rem;
        }
      }
    }

    .btn {
      font-size: 1.15rem;
    }
  }
}

#explore {
  .explore-header {
    background: $dark;
    color: $white;
    padding: 3rem 0;

    p {
      margin-bottom: 1.15rem;
    }
  }

  .explore-content {
    display: flex;

    .explore-img {
      flex: 1;
      margin-right: 2rem;

      img {
        width: 100%;
        border-radius: 50%;
        height: auto;
      }
    }

    .explore-text {
      flex: 1;
      color: $gray;

      h3 {
        font-size: 1.5rem;
      }
    }
  }
}
